{% extends 'careersearch/base.html' %}

<!-- block to display user auth status and registration link -->
{% block auth %}
	{% if user.is_authenticated %}
		<a href="/accounts/logout/">logout</a>
	{% else %}
		<a href="/accounts/login/">login</a>
	{% endif %}
{% endblock %}

<!-- block to display ALL news item -->
{% block news %}
{% if news_list %}
<ul>
	{% for news in news_list %}
		<li><h3><a href="/news/{{ news.id }}">{{ news.title }}</a></h3></li>
	{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}

{% if full_name|length > 0 %}
	<h2>Hallo {{full_name}}!</h2><br />

	<p>Klik <a href="/accounts/edit_profile/">hier</a> om uw profiel te wijzigen.</p>
	<p>Klik <a href="/accounts/logout">hier</a> om uit te loggen.</p>
{% else %}
	<h2>U bent niet ingelogd.</h2>
{% endif %}

{% endblock %}