{% extends 'careersearch/base.html' %}

<!-- block to display user auth status and registration link -->
{% block auth %}
 {% if user.is_authenticated %}
  <a href="/accounts/logout/">logout</a>
 {% else %}
  <a href="/accounts/login/">login</a>
 {% endif %}
{% endblock %}

<!-- block to display ALL news item -->
{% block news %}
{% if news_list %}
<ul>
 {% for news in news_list %}
 <li><h3><a href="/news/{{ news.id }}">{{ news.title }}</a></h3></li>
 {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}

 <h2>U heeft geregistreerd!</h2>
 <p>Klik <a href="/accounts/login">hier</a> om in te loggen.</p>

{% endblock %}