{% extends "careersearch/base.html" %}

<!-- block to display user auth status and registration link -->
{% block auth %}
 {% if user.is_authenticated %}
  <a href="/accounts/logout/">logout</a>
 {% else %}
  <a href="/accounts/login/">login</a>
 {% endif %}
{% endblock %}

<!-- block to display ALL news item -->
{% block news %}
{% if news_list %}
<ul>
 {% for news in news_list %}
 <li><h3><a href="/news/{{ news.id }}">{{ news.title }}</a></h3></li>
 {% endfor %}
</ul>
{% endif %}
{% endblock %}

<!-- block to display 1 detailed news item -->
{% block content %}
 <h3><a href="/news/{{ detail_news_list.id }}">{{ detail_news_list.title }}</a></h3>
 <div class="post_meta">
  Geplaatst {{ detail_news_list.date|date:"d-m" }} <br /> <br />
 </div>

 <div class="post_body">
  {{ detail_news_list.body|safe|linebreaks }}
 </div>
{% endblock %}
Lars Hoevenaar